<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CDT</title>
<link rel="stylesheet" href="/css/homestyles.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">

  <style>
    .main-posts {
      text-align: center;
    }

    .main-posts img {
      display: block;
      margin: 0 auto;
      width: 200px; /* Tamaño de la imagen */
    }

    .main-posts p {
      text-align: center;
      margin-top: 10px;
    }
  </style>

</head>

<body>
	<div class="sidebar">
		<a href="#" class="logo">
			<h2 class="logo">CENTRO DE TURISMO</h2>
		</a>
		<div class="profile">
			<div class="profile-img">
				<img src="img/p1.jpg" alt "">
			</div>
			<div class="name">
				<h1>Ejemplo</h1>
			</div>
			<span>@Ejemplo</span>
		</div>
		<div class="about">
			<div class="box">
				<h3>54</h3>
				<span>Posts</span>
			</div>
						<div class="box">
				<h3>14.4k</h3>
				<span>Followers</span>
			</div>
						<div class="box">
				<h3>14</h3>
				<span>Following</span>
			</div>
		</div>
		<div class="menu">
			<a href="index.html" class="active">
				<span class="icon">
					<i class="ri-function-line"></i>
				</span>
				Feed
			</a>
			<a href="#">
				<span class="icon">
					<i class="ri-search-line"></i>
				</span>
				Explore
			</a>
			
						<a href="#">
				<span class="icon">
					<i class="ri-notification-4-line"></i>
				</span>
				Notification
			</a>
			
						<a href="#">
				<span class="icon">
					<i class="ri-mail-unread-line"></i>
				</span>
				Messages
			</a>
			
						<a href="#">
				<span class="icon">
					<i class="ri-send-plane-line"></i>
				</span>
				Direct
			</a>
			
						<a href="#">
				<span class="icon">
					<i class="ri-line-chart-line"></i>
				</span>
				Stats
			</a>
			
						<a href="#">
				<span class="icon">
					<i class="ri-settings-line"></i>
				</span>
				Settings
			</a>
			
						<a href="/index.html">
				<span class="icon">
					<i class="ri-logout-box-line"></i>
				</span>
				Logout
			</a>
		</div>
	</div>
	<div class="main-home">
		<div class="header">
			<div class="search">
				<i class="ri-search-line"></i>
				<input type="text" placeholder="Search">
			</div>
			<div class="header-content">
				<i class="ri-notification-2-line"></i>
				<i class="ri-mail-line"></i>
				<a href="producto" class="btn">
					<i class="ri-add-circle-line"></i>
					<div class="btn-text">Nueva</div>
				</a>
			</div>
		</div>
		<div class="stories-title">
			<h1>Stories</h1>
			<a href="#" class="btn">
				<i class="ri-play-circle-line"></i>
				<div class="text">Watch all</div>
			</a>
		</div>
		<div class="stories">
			<div class="stories-img color">
				<img src="img/p1.jpg" alt="">
				<div class="add">+</div>
			</div>
			
						<div class="stories-img color">
				<img src="img/p2.jpg" alt="">
			</div>
			
						<div class="stories-img color">
				<img src="img/p3.jpg" alt="">
			</div>
			
						<div class="stories-img color">
				<img src="img/p4.jpg" alt="">
			</div>
			
						<div class="stories-img color">
				<img src="img/p5.jpg" alt="">
			</div>
		</div>
		<div class="feed">
			<h1>Feed</h1>
			<div class="feed-text">
				<h2>Latest</h2>
				<span>Popular</span>
			</div>
		</div>
		<div class="main-posts">
<!--			<div class="post-box">
			<img src="img/p1.jpg" alt="">
			<div class="post-info">
				<div class="post-profile">
					<div class="post-img">
						<img src="img/p2.jpg" alt="">
					</div>
					<h3>Marques B</h3>
				</div>
				<div class="likes">
					<i class="ri-heart-line"></i>
					<span>84.7k</span>
					<i class="ri-chat-3-line"></i>
					<span>54</span>
					</div>
				</div>
			</div>
			
						<div class="post-box">
			<img src="img/p3.jpg" alt="">
			<div class="post-info">
				<div class="post-profile">
					<div class="post-img">
						<img src="img/p4.jpg" alt="">
					</div>
					<h3>Marques B</h3>
				</div>
				<div class="likes">
					<i class="ri-heart-line"></i>
					<span>224k</span>
					<i class="ri-chat-3-line"></i>
					<span>87</span>
					</div>
				</div>
			</div>
-->			
			<img src="img/carpeta-vacia.png" alt="" style="width: 200px;">
			<p>No hay nada que mostrar aquí :/</p>
			<p>Crea una nueva publicacion :D</p>
			
		</div>
	</div>
</body>
</html>