<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<style>
		
		.container .star-widget input {
			display: none;
		}
		
		.star-widget ~ label {
			font-size: 40px;
			color: #444;
			padding: 10px;
			float: right;
			transition: all 0.2s ease;
		}
		
		
		input:not(:checked) ~ label:hover,
		input:not(:checked) ~ label:hover ~ label {
			color: #fd4;
		}
		
		input::checked ~ label {
			color: #fd4;
		}
		
		input#rate-5:checked ~ label {
			color: #fe7;
			text-shadow: 0 0 20px #952;
		}
		
		input:checked ~ form {
			display: block;
		}
		
		
	</style>
	
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CDT</title>
<link rel="stylesheet" href="/css/homestyles.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body> <br>

	<div class="sidebar">
		<a href="#" class="logo">
			<h2 class="logo">CENTRO DE TURISMO</h2>
		</a>
		<div class="profile">
			<div class="profile-img">
				<img src="img/p1.jpg" alt "">
			</div>
			<div class="name">
				<h1>Ejemplo</h1>
			</div>
			<span>@Ejemplo</span>
		</div>
		<div class="about">
			<div class="box">
				<h3>54</h3>
				<span>Posts</span>
			</div>
						<div class="box">
				<h3>14.4k</h3>
				<span>Followers</span>
			</div>
						<div class="box">
				<h3>14</h3>
				<span>Following</span>
			</div>
		</div>
		<div class="menu">
			<a href="#" class="active">
				<span class="icon">
					<i class="ri-function-line"></i>
				</span>
				Feed
			</a>
			<a href="#">
				<span class="icon">
					<i class="ri-search-line"></i>
				</span>
				Explore
			</a>
			
						<a href="#">
				<span class="icon">
					<i class="ri-notification-4-line"></i>
				</span>
				Notification
			</a>
			
						<a href="#">
				<span class="icon">
					<i class="ri-mail-unread-line"></i>
				</span>
				Messages
			</a>
			
						<a href="#">
				<span class="icon">
					<i class="ri-send-plane-line"></i>
				</span>
				Direct
			</a>
			
						<a href="#">
				<span class="icon">
					<i class="ri-line-chart-line"></i>
				</span>
				Stats
			</a>
			
						<a href="#">
				<span class="icon">
					<i class="ri-settings-line"></i>
				</span>
				Settings
			</a>
			
						<a href="#">
				<span class="icon">
					<i class="ri-logout-box-line"></i>
				</span>
				Logout
			</a>
		</div>
	</div>
	<div class="main-home">
		<div class="header">
			<div class="search">
				<i class="ri-search-line"></i>
				<input type="text" placeholder="Search">
			</div>
			<div class="header-content">
				<i class="ri-notification-2-line"></i>
				<i class="ri-mail-line"></i>
				<a href="#" class="btn">
					<i class="ri-add-circle-line"></i>
					<div class="btn-text">Add Photo</div>
				</a>
			</div>
		</div>
		<div class="stories-title">
			<h1>Stories</h1>
			<a href="#" class="btn">
				<i class="ri-play-circle-line"></i>
				<div class="text">Watch all</div>
			</a>
		</div>
		<div class="stories">
			<div class="stories-img color">
				<img src="img/p1.jpg" alt="">
				<div class="add">+</div>
			</div>
			
						<div class="stories-img color">
				<img src="img/p2.jpg" alt="">
			</div>
			
						<div class="stories-img color">
				<img src="img/p3.jpg" alt="">
			</div>
			
						<div class="stories-img color">
				<img src="img/p4.jpg" alt="">
			</div>
			
						<div class="stories-img color">
				<img src="img/p5.jpg" alt="">
			</div>
		</div>
		<div class="feed">
			<h1>Feed</h1>
			<div class="feed-text">
				<h2>Latest</h2>
				<span>Popular</span>
			</div>
		</div>
		<div class="main-posts">
				<div class="container">
		<div class="row">
			<div class="card" style="width: 5rem;" th:each="prod:${listado}">
				<img src="./img/producto.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5><center><p class="card-title" th:text="${prod.nombre}"></p></center></h5>
					<p class="card-text" th:text="'Descripcion: ' + ${prod.descripcion}"></p>
					<p class="card-text" th:text="'Cod. de Producto: ' + ${prod.codigo}"></p>
					<div class="container">
						<div class="star-widget">
							<input type="radio" name="rate" id="rate-5">
							<label for="rate-5" class="fas fa-star"></label>
							<input type="radio" name="rate" id="rate-4">
							<label for="rate-4" class="fas fa-star"></label>
							<input type="radio" name="rate" id="rate-3">
							<label for="rate-3" class="fas fa-star"></label>
							<input type="radio" name="rate" id="rate-2">
							<label for="rate-2" class="fas fa-star"></label>
							<input type="radio" name="rate" id="rate-1">
							<label for="rate-1" class="fas fa-star"></label>
						</div>
					</div>
					<a href="#" class="btn btn-primary">Comentar</a>
				</div>
			</div>
		</div> <br>
<tbody>
    <tr th:each="producto : ${listado}">
        <td th:text="'Cod. de Producto: ' + ${producto.codigo}"></td>
        <!-- Agrega la columna con los enlaces para editar y eliminar -->
        <td>
            <a th:href="@{/editarProducto/{codigo}(codigo=${producto.codigo})}" class="btn btn-primary">Editar</a>
            <a th:href="@{/eliminarProducto/{codigo}(codigo=${producto.codigo})}" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
</tbody>
		<a class="btn btn-dark" href="/producto">Volver</a>
	</div>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"
		type="text/javascript"></script>
		</div>
	</div>
	
</body>
</html>